page-home {

}

#editor-content{
  min-height: 50px;
}

ion-card{
  margin: 0;
  text-align: left;
}

#devices-content{
  padding: 5px;
}

.device{
  padding: 5px;
}

.devices-header{
  padding: 10px;
  font-size: 12pt;
}

p{
  padding: 5px 0 5px 0;
  margin: 0;
  width: 100%;
}

ion-label{
  padding-left: 10px;
}
