<ion-header>
  <ion-navbar>
    <ion-title text-center>
      E-Ink-Connect
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card id="devices">
    <ion-card-header text-center class="devices-header">Verfügbare Geräte</ion-card-header>
    <ion-card-content id="devices-content">
      <ion-card class="device" (click)="showConnectDeviceDialog(d)" *ngFor="let d of devices">
        <ion-row>
          <ion-col>
            {{d.name}}
          </ion-col>
          <ion-col>
            <ion-icon name="checkmark" *ngIf="d.id == device.id"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          {{d.id}}
        </ion-row>
      </ion-card>
    </ion-card-content>
    <div text-center>Stelle sicher, dass Bluetooth aktiviert ist.</div>
  </ion-card>

  <ion-row>
    <ion-col>
      Bildposition auswählen
    </ion-col>
    <ion-col>
      <ion-select name="line" required okText="Ok" cancelText="Abbrechen" placeholder="Auswählen">
        <ion-option value="1">1</ion-option>
        <ion-option value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
      </ion-select>
    </ion-col>
  </ion-row>
  

  <button ion-button block (click)="choseImage()">Bild auswählen</button>
  <button ion-button block (click)="onUpload()">Übertragen</button>

</ion-content>
